# Server Configuration
PORT=8080
NODE_ENV=development

# Security
ALLOWED_ORIGINS=http://localhost:3000,http://192.168.31.*,https://192.168.*
REQUIRE_AUTH=false
AUTH_TOKEN=12312312312312312312313123123123

# Rate Limiting
MAX_CONNECTIONS_PER_IP=5
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX_REQUESTS=100

# WebSocket Settings
MAX_MESSAGE_SIZE=16384
HEARTBEAT_INTERVAL=3000000
MAX_CLIENTS=2

SSL_KEY_PATH=../cert/192.168.31.231-key.pem
SSL_CERT_PATH=../cert/192.168.31.231.pem